<a href="https://colab.research.google.com/github/CosmicPegasus07/Finding_Best_Intern/blob/main/Hire_Best_Intern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Step 1: Load data
data = pd.read_csv('given dataset.csv')

In [ ]:
# Selecting only relevant columns
df_new = data.iloc[:, [1,2,3,4,5,6,10,11,12,13]]

In [ ]:
# Counting the number of skills and keeping in new column
df_new['Num_of_Skills'] = df_new['Other skills'].str.split(',').str.len()
score_columns = ['Performance_PG', 'Performance_UG', 'Performance_12', 'Performance_10']

# Create new columns for percentages
for column in score_columns:
    df_new[column + '_percentage'] = df_new[column].apply(lambda x: eval(x) if isinstance(x, str) else None)

# Filling Empty cells with zero
df1 = df_new.fillna(0)

<ipython-input-3-da27b8591a00>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Num_of_Skills'] = df_new['Other skills'].str.split(',').str.len()
<ipython-input-3-da27b8591a00>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[column + '_percentage'] = df_new[column].apply(lambda x: eval(x) if isinstance(x, str) else None)
<ipython-input-3-da27b8591a00>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[column + '_percentage'] = df_new[column].apply(lambda x: eval(x) if isinstance(x, str) else None)

In [ ]:
# Changing availibility answer to numerical value
df1['availability'] = df1.iloc[:, 5].apply(lambda x: 1 if isinstance(x, str) and 'yes' in x.lower() else 0)

In [ ]:
selected_columns = ['Python (out of 3)', 'Machine Learning (out of 3)', 'Natural Language Processing (NLP) (out of 3)', 'Deep Learning (out of 3)', 'Num_of_Skills', 'Performance_PG_percentage', 'Performance_UG_percentage', 'Performance_12_percentage', 'Performance_10_percentage', 'availability']

# Creating a new dataframe with the selected columns
new_df = df1[selected_columns]

In [ ]:
column_rename_dict = {
    'Python (out of 3)': 'Python_Score',
    'Machine Learning (out of 3)': 'ML_Score',
    'Natural Language Processing (NLP) (out of 3)': 'NLP_Score',
    'Deep Learning (out of 3)': 'DL_Score',
    'Performance_PG_percentage': 'PG_Score',
    'Performance_UG_percentage': 'UG_Score',
    'Performance_12_percentage': '12_Score',
    'Performance_10_percentage': '10_Score'
}

# Rename the columns using the dictionary
new_df = new_df.rename(columns=column_rename_dict)

In [ ]:
# Step 2 : Normalize the data
columns_to_normalize = ['Python_Score', 'ML_Score', 'NLP_Score', 'DL_Score', 'Num_of_Skills']

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Normalize the selected columns
new_df[columns_to_normalize] = scaler.fit_transform(new_df[columns_to_normalize])
new_df.head()

,Python_Score,ML_Score,NLP_Score,DL_Score,Num_of_Skills,PG_Score,UG_Score,12_Score,10_Score,availability
0,0.333333,0.000000,0.000000,0.333333,0.095238,0.0,0.928571,0.0,0.0,1
1,0.666667,0.000000,0.000000,0.000000,0.523810,0.0,0.890000,0.0,0.0,1
2,0.666667,0.666667,0.000000,0.000000,0.126984,0.0,0.000000,0.0,0.0,1
3,1.000000,0.666667,0.666667,0.000000,0.285714,0.0,0.000000,1.0,1.0,1
4,0.666667,0.666667,0.000000,0.000000,0.063492,0.0,0.810000,1.0,1.0,1

In [ ]:
# Upon checking found two candidates score was beyond 1 fixing that

new_df.loc[1078, 'PG_Score'] = 0.805
new_df.loc[200, 'UG_Score'] = 1

In [ ]:

# Assumining the weights
criteria_weights = {
    'Python_Score': 0.1,
    'ML_Score': 0.1,
    'NLP_Score': 0.1,
    'DL_Score': 0.1,
    'Num_of_Skills': 0.05,
    'UG_Score': 0.1,
    'PG_Score': 0.1,
    '12_Score': 0.1,
    '10_Score': 0.1,
    'availability': 0.1
}

# Step 3: Calculate scores
new_df['score'] = 0  # Create a new column to store the scores
for criterion, weight in criteria_weights.items():
    new_df['score'] += new_df[criterion] * weight

# Step 4: Rank candidates
new_df = new_df.sort_values(by='score', ascending=False)

# Step 5: Select the best candidate
best_candidate = new_df.iloc[0]

new_df.head()

,Python_Score,ML_Score,NLP_Score,DL_Score,Num_of_Skills,PG_Score,UG_Score,12_Score,10_Score,availability,score
246,1.0,1.0,1.000000,1.000000,0.412698,0.8160,0.810,1.0,1.0,1,0.883235
1073,1.0,1.0,1.000000,1.000000,0.174603,0.7286,0.813,1.0,1.0,1,0.862890
767,1.0,1.0,1.000000,1.000000,0.317460,0.0000,0.892,1.0,1.0,1,0.805073
116,1.0,1.0,1.000000,0.666667,0.396825,0.0000,1.000,1.0,1.0,1,0.786508
445,1.0,1.0,0.666667,0.666667,0.984127,0.0000,0.940,1.0,1.0,1,0.776540

In [ ]:
print(best_candidate)

Python_Score     1.000000
ML_Score         1.000000
NLP_Score        1.000000
DL_Score         1.000000
Num_of_Skills    0.412698
PG_Score         0.816000
UG_Score         0.810000
12_Score         1.000000
10_Score         1.000000
availability     1.000000
score            0.883235
Name: 246, dtype: float64

In [ ]:
new_df.to_csv('Ranked intern Candidates.csv')